{%extends 'base.html' %}
{% block head %}
Error
{%endblock%}
{% block body %}
  <h2 class="header"> Sklep wedkarski to my! </h2>
  <br><br>
  <div style = "margin-left:10vw; box-sizing: border-box; ">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facilis laborum 
      doloribus mollitia ut reprehenderit nobis natus vel excepturi commodi laboriosam reicie
      ndis praesentium earum sequi, neque labore unde facere. Voluptatem?</p>
    
    <h3>Dane Firmy: </h3>
    <ul>  
    <li>Rybex</li>
    <li>Gniezno 87-300</li> 
    <li>ul.Kosciuszki 17</li>
    </ul>
  </div>

 <!-- <div class = "button" >
  <form action = "/" method = "get">
    <input type = "submit" class ="submit" value = "Wróć">
  </form> -->
{% endblock %}